@use "./global/app" as *;

// foundation
@use "./foundation/root";
@use "./foundation/reset";

// utility
@use "./other/utility";

// --------------------------

html,
body {
  background: var(--black);
}

body {
  &[data-status=""] {
    cursor: wait;
  }
}

.lil-gui {
  @include sp_w() {
    display: none !important;
  }
}

#world {
  pointer-events: none;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  canvas {
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }

  opacity: 0;
  body[data-status="enter"] & {
    pointer-events: initial;
    user-select: initial;
    transition: 1s ease opacity;
    opacity: 1;
  }
}

// --------------------------

// コンテナ

// --------------------------
.l-container {
  position: relative;
  z-index: 10;
  opacity: 0;
  body[data-status="enter"] & {
    opacity: 1;
    transition: 0.3s ease opacity;
  }
}
.l-container__head {
  border-left: solid 2px var(--white-solid);
  border-right: solid 2px var(--white-solid);
  border-top: solid 2px var(--white-solid);
  border-bottom: solid 1px var(--white-solid);
  box-sizing: border-box;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  @include sp_w() {
    padding: 24px 24px;
  }
}
.c-title {
  width: 100%;
  color: var(--white);
  font-size: 84px;
  font-weight: 700;
  -webkit-text-stroke: 4px var(--white);
  text-stroke: 4px var(--white);
  line-height: 100%;
  @include sp_w() {
    font-size: 64px;
  }
}
.c-text {
  margin-top: 8px;
  color: var(--white);
  font-size: 14px;
  font-family: 100;
  line-height: 160%;
  @include sp_w() {
    font-size: 12px;
    margin-top: 12px;
  }
}
.c-text-right {
  text-align: right;
}

// --------------------------

// アイテムサイズ

// --------------------------
#js-rect {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: liquid(900 * 0.5);
  height: liquid(540 * 0.5);
  @include sp_w() {
    width: liquid(900 * 0.3);
    height: liquid(540 * 0.3);
  }
}

// --------------------------

// アイテムリスト

// --------------------------
.c-itemList {
  @include hover() {
    .c-item__number,
    .c-item__label,
    .c-item__arrow {
      opacity: 0.3;
    }
    .c-item.is-active {
      .c-item__number,
      .c-item__label,
      .c-item__arrow {
        opacity: 1;
      }
    }
  }
}
.c-itemList__box {
}
.c-item {
  cursor: pointer;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 64px 32px;
  border-left: solid 2px var(--white-solid);
  border-right: solid 2px var(--white-solid);
  border-top: solid 1px var(--white-solid);
  border-bottom: solid 1px var(--white-solid);
  box-sizing: border-box;
  @include sp_w() {
    padding: 54px 24px;
  }
  @include hover() {
    .c-item__number,
    .c-item__label,
    .c-item__arrow {
      opacity: 1;
    }
  }

  &.is-active {
    .c-item__number,
    .c-item__label,
    .c-item__arrow {
      opacity: 1;
    }
    .c-item__arrow {
      transform: rotateZ(45deg);
    }
  }
}
.c-item__number,
.c-item__label,
.c-item__arrow {
  pointer-events: none;
  user-select: none;
}
.c-item__number {
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
}
.c-item__label {
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
}
.c-item__arrow {
  color: var(--white);
  font-size: 28px;
  font-weight: 700;
  margin-left: auto;
  transition: 0.2s ease opacity, 0.2s ease transform;
}
.c-item__number,
.c-item__label {
  opacity: 1;
  transition: 0.2s ease opacity;
}
.c-item__img {
  display: none;
  visibility: hidden;
  img {
  }
}

// --------------------------

// footer

// --------------------------
.l-footer {
  position: relative;
  z-index: 10;
  border-left: solid 2px var(--white-solid);
  border-right: solid 2px var(--white-solid);
  border-top: solid 1px var(--white-solid);
  border-bottom: solid 2px var(--white-solid);
  box-sizing: border-box;
  width: 100vw;
  height: 64px;
}

// --------------------------

// コピーライト

// --------------------------
.c-copyright {
  user-select: none;
  position: fixed;
  bottom: 24px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2000;
  display: block;
  font-size: 12px;
  font-family: var(--ja);
  line-height: 100%;
  font-weight: bold;
  width: max-content;
  color: var(--white);

  @include sp_w() {
    right: 0;
    left: 0;
    margin: auto;
  }
  &::before {
    pointer-events: none;
    user-select: none;
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    z-index: 0;
    transform: translate3d(0, 0, 0px);
    height: 2px;
    width: 100%;
    background: var(--white);
    transform: scale(0, 1);
    transform-origin: left;
    transition: 0.4s $easeinout transform;
    @include sp_w() {
      bottom: -4px;
    }
  }
  @include hover() {
    &::before {
      transform: scale(1, 1);
    }
  }
  opacity: 0;
  body[data-status="enter"] & {
    transition: 0.6s 0.4s ease opacity;
    opacity: 1;
  }
}

// --------------------------

// GitHub

// --------------------------
.c-github {
  user-select: none;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  svg {
    pointer-events: none;
    user-select: none;
    width: 100%;
    height: 100%;
    fill: var(--white);
  }

  opacity: 0;
  body[data-status="enter"] & {
    transition: 0.4s ease opacity;
    opacity: 1;
    @include hover() {
      opacity: 0.5;
    }
  }
}
