@use "sass:math"; // math.div(a,b); => a / b
@use "../global/app" as *;

// ----------------------------------
//
// 非表示
//
// ----------------------------------
// ブレイクポイント
@include pc_w() {
  .u-pc-hide {
    display: none !important;
  }
}
@include sp_w() {
  .u-sp-hide {
    display: none !important;
  }
}

// 非表示
.u-hidden {
  display: none !important;
}

// ----------------------------------
//
// transition delay | +.05s | min: .1s ~ max: 2.05s
//
// ----------------------------------
// $max: 40;
// @for $i from 1 through 40 {
//   .u-delay-#{50+(50 * $i)} {
//     transition-delay: 0.05s + (0.05s * $i);
//   }
// }

// ----------------------------------
//
// animation delay | +.05s | min: .1s ~ max: 2.05s
//
// ----------------------------------
// $max: 40;
// @for $i from 1 through 40 {
//   .u-delay-anime-#{50+(50 * $i)} {
//     animation-delay: 0.05s + (0.05s * $i);
//   }
// }

// ----------------------------------
//
// margin | 4の倍数 | max: 80
//
// ----------------------------------
// $max: 20;
// auto
// .u-mg-auto {
//   margin: auto;
// }

// margin
// @for $i from 1 through $max {
//   .u-mg-#{$i * 4} {
//     margin: min(4px * $i, vw(4 * $i)) auto;
//     @include sp_w() {
//       // margin: min(4px * $i, vw(4 * $i, 375)) auto;
//       margin: vw_sp(4 * $i) auto;
//     }
//   }
// }

// margin-top
// @for $i from 1 through $max {
//   .u-mgt-#{$i * 4} {
//     margin-top: min(4px * $i, vw(4 * $i));
//     @include sp_w() {
//       // margin-top: min(4px * $i, vw(4 * $i, 375));
//       margin-top: vw_sp(4 * $i);
//     }
//   }
// }

// margin-bottom
// @for $i from 1 through $max {
//   .u-mgb-#{$i * 4} {
//     margin-bottom: min(4px * $i, vw(4 * $i));
//     @include sp_w() {
//       // margin-bottom: min(4px * $i, vw(4 * $i, 375));
//       margin-bottom: vw_sp(4 * $i);
//     }
//   }
// }

// ----------------------------------
//
// padding | 4の倍数 | max: 80
//
// ----------------------------------
// $max: 20;
// padding
// @for $i from 1 through $max {
//   .u-pd-#{$i * 4} {
//     padding: min(4px * $i, vw(4 * $i)) 0;
//     @include sp_w() {
//       // padding: min(4px * $i, vw(4 * $i, 375)) 0;
//       padding: vw(4 * $i, 375) 0;
//     }
//   }
// }

// // padding-top
// @for $i from 1 through $max {
//   .u-pdt-#{$i * 4} {
//     padding-top: min(4px * $i, vw(4 * $i));
//     @include sp_w() {
//       // padding-top: min(4px * $i, vw(4 * $i, 375));
//       padding-top: vw(4 * $i, 375);
//     }
//   }
// }

// padding-bottom
// @for $i from 1 through $max {
//   .u-pdb-#{$i * 4} {
//     padding-bottom: min(4px * $i, vw(4 * $i));
//     @include sp_w() {
//       // padding-bottom: min(4px * $i, vw(4 * $i, 375));
//       padding-bottom: vw(4 * $i, 375);
//     }
//   }
// }

// ----------------------------------
//
// テキスト
//
// ----------------------------------
// // 改行しない
// .u-text-nowrap {
//   white-space: nowrap;
// }
// @include pc_w() {
//   .u-pc-text-nowrap {
//     white-space: nowrap;
//   }
// }
// @include sp_w() {
//   .u-sp-text-nowrap {
//     white-space: nowrap;
//   }
// }

// ----------------------------------
//
// その他
//
// ----------------------------------
// クリックできない
// .u-noClick {
//   pointer-events: none;
//   user-select: none;
// }
